*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: $main-color1;
    font-size: 14px;
    line-height: 1.2;
    color: $main-color2;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;

    &__abs{
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.header{
    &--section{
        min-height: 680px;
        height: 100vh;
        width: 100%;
        position: relative;
        padding-top: 123px;
    }
    &--menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 24px;
        left: 83px;
        right: 157px;

        &--burger{
            width: 49px;
            height: 49px;
            background-color: $burger-bg;
            border-radius: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            cursor: pointer;
        }
    }
    &--logo{
        font-size: 24px;
        margin-left: 37px;
        color: $main-color1;
    }

    &--tel{
        color: $main-color1;
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        margin-left: auto;
        margin-right: 48px;
    }

    &--img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: -o-linear-gradient(237.41deg, rgba(14, 14, 14, 0), rgba(0, 0, 0, 0.53) 7.71%, rgba(15, 15, 15, 0.9) 60%),
        url('img/header-bg.jpg');
        background-image: linear-gradient(212.59deg, rgba(14, 14, 14, 0), rgba(0, 0, 0, 0.53) 7.71%, rgba(15, 15, 15, 0.9) 60%),
        url('img/header-bg.jpg');
        background-size: cover;

        img{
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    &--h1{
        font-size: 82px;
        letter-spacing: 1px;
        font-family: 'Playfair Display', serif;
        color: $main-color1;
        line-height: 109px;
        margin-bottom: 24px;
    }
    &--text{
        font-size: 18px;
        line-height: 27px;
        color: $main-color1;
        font-weight: 400;
        margin-bottom: 24px;
    }
    &--scroll{
        cursor: pointer;
        padding-left: 15px;
    }

    &--info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        &--row{
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &--item{
            color: $main-color1;
            line-height: 16px;

            &:not(:last-child){
                margin-right: 54px;
            }
        }

        &--big{
            font-family: 'Oxygen', sans-serif;
            font-weight: 700;
            line-height: 40px;
            font-size: 32px;
        }
    }
}

.btn{
    display: inline-block;
    text-align: center;
    background-color: $btn-color1;
    position: relative;
    color: $main-color1;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    border-radius: 8px;
    overflow: hidden;
    border: none;

    span{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .main--cont{
        position: relative;
        padding: 6px 16px;
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        -o-transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    .helper--cont{
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        -o-transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    .btn--shim{
        background: $btn-color2;
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        -o-transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        -webkit-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    &:hover{
        color: $main-color1;

        .main--cont{
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        .btn--shim{
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        .helper--cont{
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }

    &--header{
        &__content{
            font-size: 16px;

            .main--cont{
                padding: 16px 20px;
            }
        }
    }
}
.h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 30px;
}
.section{
    &--title{
        font-size: 16px;
        color: $number-color2;
        margin-bottom: 30px;
    }
    &--p{
        font-size: 16px;
        margin-bottom: 30px;
    }
    &--1{
        padding-top: 124px;
        padding-bottom: 124px;

        .container{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;

            .right{
                width: 630px;
                margin-left: 80px;
            }
        }
    }

    &--3{
        padding-bottom: 120px;

        .number{
            height: 250px;
        }
    }
    &--4{
        padding-bottom: 126px;
    }
    &--5{
        padding-bottom: 42px;

        .number{
            height: 320px;
        }
    }

    &--6{
        padding-bottom: 140px;

        .quotes-block{
            padding-top: 80px;
        }
    }

    &--7{
        padding-bottom: 57px;
    }

    &--8{
        position: relative;
        margin-bottom: 124px;

        &--bg{
            img{
                width: 100%;
            }
        }
        &--pa{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            z-index: 1;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    &--9{
        padding-bottom: 120px;

        .number{
            height: 300px;
        }
    }
}
.number{
    width: 146px;
    height: 350px;
    overflow: hidden;
    position: relative;
    background: $number-color1;

    &--bg{
        background: $number-color2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //opacity: 0 !important;
    }

    img{
        position: absolute;
        top: 20px;
        left: 0;
    }
}

.carousel{
    &-pagination{
        position: absolute;
        bottom: 0;
        left: 43%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &-num{
            margin: 0 27px;
            font-size: 12px;

            &-cur{
                font-size: 14px;
                opacity: .5;
            }
        }
    }

    &-left{
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    &-arrow{
        cursor: pointer;
    }
}

.fs{
    &-24{
        font-size: 24px;
    }
}
.mc{
    &-3{
        color: $main-color3;
    }
}
.quotes{
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    line-height: 60px;
    font-weight: 500;
}

.face{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    &-item{
        margin: 0 21px;
    }

    &-img{
        margin-bottom: 33px;
    }
    &-name{
        font-size: 18px;
        font-weight: 500;
    }
}
.project{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &-item{
        width: 169px;
        height: 169px;
        position: relative;
        margin: 0 9px;
        overflow: hidden;
        border-radius: 4px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;

        &:hover{
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }

        & > img{
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    &-logo{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}