*{
    box-sizing: border-box;
}
body{
    background-color: $mainBg;
    font-size: 14px;
    line-height: 1.2;
    font-family: 'MTS Sans', Arial;
    font-weight: 400;
    color: $textColor;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper{
    max-width: 830px;
    margin: 0 auto;
    padding: 50px 0;
    
    @media all and (max-width: $mediaMD){
        padding: 15px 0;
    }
}

.d-flex{
    display: flex;
}
.justify-fs{
    justify-content: flex-start;
}
.justify-fe{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.align-stretch{
    align-items: stretch;
}
.ml-auto{
    margin-left: auto;
}

.h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;

    @media all and (max-width: $mediaMD){
        font-size: 22px;
        margin-bottom: 15px;
    }
}
.h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;

    @media all and (max-width: $mediaMD){
        font-size: 16px;
    }
}