.header{
    background-color: $headerBg;
    box-shadow: 0 4px 10px 0 rgba(175, 175, 175, 0.1);
    position: relative;
    z-index: 1;

    @media all and (max-width: $mediaMD){
        padding: 10px 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 7;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    &-logo{
        margin-right: 32px;
        margin-top: -5px;

        @media all and (max-width: $mediaMD){
            margin-right: 0;
            margin-top: 0;
        }

        &-link{
            display: block;
        }
    }

    &-auth{
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-list{
            @include reset-list;
            @include horizontal-list;

            margin-right: 28px;
            
            @media all and (max-width: $mediaMD){
                margin-right: 16px;
            }
        }

        &-link{
            display: block;
            height: 36px;
            width: 36px;
            
            img{
                max-width: 100%;
                height: auto;
            }
            
        }

        &-item{
            &:not(:last-child){
                margin-right: 12px;

                @media all and (max-width: $mediaMD){
                    margin-right: 8px;
                }
            }
        }
    }

    &-menu{
        @include reset-list;
        @include horizontal-list;

        @media all and (max-width: $mediaMD){
            // display: none;
            position: fixed;
            top: 56px;
            left: -240px;
            height: 100vh;
            background: #fff;
            width: 240px;
            box-shadow: 0 6px 10px 0 rgba(183, 183, 183, 0.2), inset 0 4px 10px 0 rgba(175, 175, 175, 0.1);
            z-index: 6;
            display: block;
            padding: 24px 20px 20px;
            transform: translateX(0);
            transition: transform .3s ease;

            &.opened{
                // display: block;
                transform: translateX(240px);
            }
        }

        $headerMenu: &;

        &-item{
            position: relative;

            &:not(:last-child){
                @media all and (min-width: $mediaMD){
                    margin-right: 16px;
                }
                @media all and (min-width: $mediaLG){
                    margin-right: 28px;
                }
            }



            &:hover{
                #{$headerMenu}-sub{
                    // opacity: 1;
                    // visibility: visible;
                    // transition: all .3s ease-in-out;
                }

                #{$headerMenu}-sub--helper{
                    max-height: 400px;
                    animation: showSubMenu .7s ease-in-out;
                    width: 100%;
                }
            }
        }

        &-sub{
            position: absolute;
            top: 100%;
            left: 0;
            box-shadow: 0 0 30px 0 $shadowColor;
            z-index: 2; 
            overflow: hidden;
            margin-top: -3px;
            width: auto;

            @media all and (max-width: $mediaMD){
                display: none;
            }

            &--helper{
                width: 0;
                height: 100%;
                max-height: 3px;
                padding-top: 3px;
                position: relative;
                background-color: $white;
                transition: max-height .4s ease-in-out,
                            width .3s .4s ease-in-out;

                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    background: $subMenuHover;
                    height: 3px;
                    width: 100%;
                    z-index: 1;
                }
            }

            @keyframes showSubMenu {
                0% {
                    width: 0;
                    max-height: 3px;
                }
                30% {
                    width: 100%;
                    max-height: 3px;
                }

                100% {
                    max-height: 400px;
                }
            }
            @keyframes hideSubMenu {
                0% {
                    max-width: 1000px;
                }

                100% {
                    max-width: 0;
                }
            }

            &-title{
                font-size: 16px;
                padding: 4px 0 14px 0;
                text-align: center;
                position: relative;
                background: linear-gradient(45deg , transparent 8px, $mobBg 8px), 
                            linear-gradient(-45deg , transparent 8px, $mobBg 8px),
                            linear-gradient(45deg , transparent 8px, $mobBg 8px), 
                            linear-gradient(-45deg , transparent 8px, $mobBg 8px);
                background-size: 10px 100%;
                background-repeat: repeat;
                background-position: center;
            }

            &-list{
                @include reset-list;

                &--dotted{
                    @include dotted-list;
                }

                $p: &;

                &--sub{
                    #{$p}-item{
                        padding-right: 0;
                    }
                }

                &-item{
                    line-height: 1.2;
                    position: relative;
                    padding: 0 24px 0 12px;
                }

                &-link{
                    font-size: 16px;
                    color: inherit;
                    text-decoration: none;
                    white-space: nowrap;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    display: block;

                    &.link-icon{
                        color: $linkColor;

                        &:hover,
                        &:active{
                            color: $dangerColor;
                        }
                    }
                }
            }

            &-row{
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
            }
            &-col{
                flex: 1;
                padding-top: 6px;
                padding-bottom: 6px;
                position: relative;
                
                &:not(:first-child){
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        top: -8px;
                        left: 0;
                        bottom: 0;
                        width: 1px;
                        height: auto;
                        background-color: $bodyBg;
                    }
                }
            }
        }

        &-link{
            padding: 20px 0;
            font-family: $OpenSans;
            font-weight: 600;
            color: $mainTextColor;
            text-decoration: none;
            display: block;
            position: relative;
            z-index: 1;

            &.current{
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    background: linear-gradient(to right, $gradientColor1, $gradientColor2);
                    height: 3px;
                    width: 100%;
                }
            }
            @media all and (max-width: $mediaLG){
                font-size: 13px;
            }

            @media all and (max-width: $mediaMD){
                font-size: 18px;
                font-family: $Roboto;
                padding: 0;
                margin-bottom: 12px;
                font-weight: 400;

                &::before{
                    display: none !important;
                }
            }
        }
    }

    &-user{
        @include horizontal-list;

        &-logo{
            border-radius: 100%;
            width: 36px;
            height: 36px;
            margin-right: 4px;

            img{
                max-width: 100%;
                max-height: 100%;
            }

            @media all and (max-width: $mediaMD){
                margin-right: 0;
                width: 32px;
                height: 32px;
            }
        }

        &-name{
            display: block;
            font-weight: bold;
        }

        &-stat{
            border-radius: 4px;
            background-color: $statBg;
            color: $white;
            font-size: 11px;
            padding: 1px 1px 1px 4px;
            display: inline-block;
            white-space: nowrap;
        }
        &-rate{
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 4px;
            padding: 1px 2px 1px 4px;
            display: inline-block;

            img{
                display: inline-block;
                vertical-align: middle;
            }
        }

        &-info{
            @media all and (max-width: $mediaMD){
                display: none;
            }
        }
    }
}

.burger{
    display: block;
    width: 26px;
    height: 20px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;

    span{
        display: block;
        height: 4px;
        width: 100%;
        background-color: $mainTextColor;
        border-radius: 4px;
        transform-origin: 50% 50%;
        transition: all .3s ease;
        position: absolute;
        left: 0;

        &:first-child{
            top: 0;
        }
        &:nth-child(2){
            top: 8px;
        }
        &:last-child{
            top: 16px;
        }

    }

    &.opened{
        span{
            top: 50%;
            left: 0;
            margin-top: -2px;

            &:first-child{
                transform: rotate(45deg);
            }
            &:nth-child(2){
                width: 0;
            }
            &:last-child{
                transform: rotate(-45deg);
            }
        }
    }
}