.content{
    &-wrapper{
        background-color: $white;
        padding: 0 24px;
        border-radius: 6px;
        margin-bottom: 32px;

        @media all and (max-width: $mediaLG){
            margin-bottom: 24px;
        }
        @media all and (max-width: $mediaSMB){
            padding: 0 16px;
        }
        @media all and (max-width: $mediaXS){
            margin-left: -6px;
            margin-right: -6px;
            padding: 0 6px;
            border-radius: 0;
        }
    }

    &__menu{
        @include content-menu($contentMenuBg, 28px, $OpenSans);
        margin-bottom: 12px;

        @media all and (max-width: $mediaSM){
            margin-top: 0;
            margin-bottom: 0;
            padding: 10px 8px;
        }
        @media all and (max-width: $mediaXS){
            &__link{
                border-radius: 6px !important;
            }
        }
    }

    &__h3{
        font-family: $Roboto;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
        color: $infoColor;
        text-transform: uppercase;
        margin: 0;

        &__wrapper{
            padding: 24px 0 20px;

            @media all and (max-width: $mediaSM){
                padding: 16px 0 8px;
            }
            @media all and (max-width: $mediaXS){
                padding: 12px 0;
            }
        }

        .icon{
            height: 15px;
            display: inline-block;
            margin-left: 9px;
            vertical-align: baseline;
            
            img{
                height: 100%;
            }
        }

        @media all and (max-width: $mediaSM){
            font-size: 12px;
        }
    }

    &__h2{
        display: inline-block;
        font-weight: 800;
        margin: 0;
        line-height: 1;
        font-size: 26px;

        &__wrapper{
            padding: 10px 0 0;
            margin-bottom: 16px;

            @media all and (max-width: $mediaSM){
                padding-top: 0;
                margin-bottom: 8px;
            }
        }

        .icon{
            display: inline-block;
            vertical-align: baseline;
            margin-left: 10px;

            img{
                max-height: 100%;
            }

            @media all and (max-width: $mediaSM){
                margin-left: 6px;
                height: 20px;
            }
        }

        @media all and (max-width: $mediaMD){
            font-size: 24px;
        }
        @media all and (max-width: $mediaSM){
            font-size: 22px;
            color: $footerTextColor;
        }
    }

    &__nav{
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media all and (max-width: $mediaSM){
            flex-direction: column;
            align-items: flex-start;
        }
        @media all and (max-width: $mediaXS){
            padding-top: 8px;
            padding-bottom: 8px;
        }

        &__item{
            font-size: 14px;

            @media all and (max-width: $mediaSMB){
                font-size: 12px;
            }

            &--left{
                @media all and (max-width: $mediaSM){
                    &:not(:last-child){
                        margin-bottom: 6px;
                    }
                }

                @media all and (max-width: $mediaXS){
                    &:not(:last-child){
                        margin-bottom: 4px;
                    }
                }
                
            }
            &--right{
                
            }
        }

        &__link{
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;


            &__val{
                color: $infoColor;
                font-weight: bold;
                vertical-align: middle;
            }

            &--blue{
                color: $btnBg2;
            }

            &--red{
                color: $subMenuHover;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &:after{
                    content: '';
                    border: solid $subMenuHover;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 2px;
                    transform: rotate(-45deg);
                    border-radius: 1px;
                    margin-left: 4px;
                }
            }

            &--info{
                &:before{
                    content: url(../../assets/img/info.svg);
                    display: inline-block;
                    margin-right: 4px;
                }
            }
        }
    }

    &__tab{
        display: none;

        &.active{
            display: block;
        }
    }

    &__adv{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        &__item{
            text-align: center;
            padding: 0 10px 24px;
            min-width: 33.33333%;

            @media all and (max-width: $mediaSM){
                padding: 10px 9px 12px;
            }
            @media all and (max-width: $mediaXS){
                padding-top: 0;
                padding: 0 3px 12px;
            }
        }

        &__img{
            display: inline-block;
            height: 92px;
            margin-bottom: 12px;

            img{
                height: 100%;
                width: auto;
            }

            @media all and (max-width: $mediaLG){
                height: 82px;
            }
            @media all and (max-width: $mediaSM){
                height: 32px;
                margin-bottom: 8px;
            }
        }

        &__title{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 28px;
            position: relative;

            @media all and (max-width: $mediaSM){
                font-size: 14px;
                margin-bottom: 20px;
            }

            &:before{
                content: '';
                position: absolute;
                bottom: -15px;
                width: 50px;
                height: 4px;
                display: block;
                border-radius: 2px;
                left: 50%;
                margin-left: -25px;

                @media all and (max-width: $mediaSM){
                    height: 2px;
                    width: 32px;
                    margin-left: -16px;
                    bottom: -10px
                }
            }

            &--brown{
                &:before{
                    background-color: $advColor1;
                }
            }
            &--red{
                &:before{
                    background-color: $advColor2;
                }
            }
            &--violet{
                &:before{
                    background-color: $advColor3;
                }
            }
        }

        &__text{
            color: $infoColor;
            line-height: 1.2;
            font-size: 16px;

            @media all and (max-width: $mediaLG){
                font-size: 14px;
            }
            @media all and (max-width: $mediaSM){
                font-size: 12px;

                br{
                    display: none;
                }
            }
            @media all and (max-width: $mediaSM){
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            @media all and (max-width: $mediaXS){
                -webkit-line-clamp: 3;
            }
        }
    }
}

.bk{
    &__table{
        display: table;
        border-collapse: collapse;
        width: 100%;
        position: relative;

        $bk: &;

        &__row{
            display: table-row;
            
            box-shadow: inset 0 -1px 0 0 $bodyBg;

            @media all and (max-width: $mediaSM){
                box-shadow: inset 0 -1px 0 0 $mobBg;
                
            }

            &:first-child{
                #{$bk}__item--feedback{
                    position: relative;

                    &:before{
                        content: 'Отзывы';
                        position: absolute;
                        top: 7px;
                        left: 0;
                        display: block;
                        font-size: 9px;
                        color: $infoColor;
                        font-weight: 800;

                        @media all and (max-width: $mediaXS){
                            content: 'Отз.';
                        }
                    }

                    @media all and (max-width: $mediaXL){
                        &:before{
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    @media all and (max-width: $mediaSM){
                        &:before{
                            top: 9px;
                        }
                    }
                }
            }
        }

        &__item{
            display: table-cell;
            vertical-align: middle;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;

            @media all and (max-width: $mediaXL){
                padding-left: 10px;
                padding-right: 10px;
            }
            @media all and (max-width: $mediaLG){
                padding-right: 2px;
                padding-left: 2px;
            }

            @media all and (max-width: $mediaSMB){
                padding-top: 16px;
                padding-bottom: 16px;
            }
            @media all and (max-width: $mediaXS){
                padding-top: 12px;
                padding-bottom: 12px;
            }

            &--num{
                padding-right: 20px;
                text-align: left;

                @media all and (max-width: $mediaXL){
                    padding-right: 10px;
                }
                @media all and (max-width: $mediaLG){
                    padding-right: 5px;
                }
                @media all and (max-width: $mediaXS){
                    display: none;
                }
            }

            &--logo{
                padding-right: 48px;
                text-align: center;
                
                @media all and (max-width: $mediaXL){
                    padding-right: 10px;
                    width: 25%;
                }
                @media all and (max-width: $mediaLG){
                    min-width: 120px;
                    padding-right: 2px;
                }
                @media all and (max-width: $mediaSMB){
                    min-width: 90px;
                    width: 36%;
                }
                @media all and (max-width: $mediaXS){
                    width: auto;
                }
            }

            &--price{
                @media all and (max-width: $mediaXL){
                    width: 25%;
                }
                @media all and (max-width: $mediaSMB){
                    width: 30%;
                }
                @media all and (max-width: $mediaXS){
                    display: none;
                }
            }

            &--person{
                padding-left: 95px;
                padding-right: 95px;
                
                @media all and (max-width: $mediaXL){
                    padding-right: 10px;
                    padding-left: 10px;
                    width: 25%;
                }
                @media all and (max-width: $mediaLG){
                    padding-right: 2px;
                    padding-left: 2px;
                }
                @media all and (max-width: $mediaSMB){
                    display: none;
                }
            }
            &--feedback{
                padding-right: 60px;

                @media all and (max-width: $mediaXL){
                    padding-right: 10px;
                    width: 25%;
                }
                @media all and (max-width: $mediaLG){
                    padding-right: 2px;
                }
                @media all and (max-width: $mediaSMB){
                    width: 30%;
                }
                @media all and (max-width: $mediaXS){
                    width: 100%;
                }
            }
            &--btns{
                text-align: right;
            }
        }

        &__num{
            font-size: 26px;
            color: $bkNumColor;
            font-style: italic;

            @media all and (max-width: $mediaLG){
                font-size: 22px;
            }
            @media all and (max-width: $mediaSMB){
                font-size: 14px;
            }
        }

        &__logo{
            display: inline-block;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media all and (max-width: $mediaXS){
                width: 113px;
                height: 36px;
                background-color: $mobBg;
                padding: 5px 11px;
                border-radius: 6px;
                
                img{
                    max-width: 100%;
                }
            }

            img{
                max-height: 100%;
                width: auto;

                @media all and (max-width: $mediaLG){
                    width: 100%;
                }
            }
        }

        &__price{
            font-size: 20px;
            padding: 7px 10px;
            border: 1px solid $tableBorderColor;
            border-radius: 20px;
            display: inline-block;
            min-width: 112px;

            @media all and (max-width: $mediaLG){
                font-size: 18px;
                padding: 5px 8px;
                min-width: 102px;
            }

            @media all and (max-width: $mediaSMB){
                font-size: 14px;
                padding: 4px 5px 5px;
                min-width: 75px;
            }
        }

        &__person{
            display: inline-block;
            width: 40px;
            height: 40px;
            
            @media all and (max-width: $mediaLG){
                width: 32px;
                height: 32px;
            }

            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

        &__feedback{
            color: $bkFeedbackColor;
            font-size: 20px;
            font-weight: 600;
            
            @media all and (max-width: $mediaLG){
                font-size: 18px;
            }
            @media all and (max-width: $mediaSMB){
                font-size: 14px;
            }
        }

        &__btns{
            white-space: nowrap;
        }

        &__eps{
            font-size: 22px;
            color: $bkNumColor;
        }
    }

    &__btn{
        &:first-child{
            margin-right: 14px;
        }

        &--grey{
            @include reset-btn;
            font-size: 14px;
            padding: 9px 38px 12px;
        }
        &--blue{
            @include reset-btn($white,$btnBg2,$btnBgHover2,$btnBgActive2,$btnBg2,$btnBgHover2,$btnBgActive2, $btnShadow2);
            font-size: 14px;
            padding: 9px 38px 12px;
        }

        @media all and (max-width: $mediaLG){
            padding: 6px 26px 8px;

            &:first-child{
                margin-right: 6px;
            }
        }
        
        @media all and (max-width: $mediaSMB){
            font-size: 13px;
            padding: 4px 11px 6px;
        }
    }
}

.analytic{
    &__table{
        &__row{
            padding: 20px 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid $bodyBg;

            @media all and (max-width: $mediaSM){
                padding: 8px 0 12px;
                border-bottom: 1px solid $mobBg;
            }
            @media all and (max-width: $mediaXS){
                align-items: stretch;
            }
        }
        &__item{
            &--right{
                width: 100%;
                position: relative;

                @media all and (max-width: $mediaLG){
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: stretch;
                }
            }
        }

        &__img{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;

            @media all and (max-width: $mediaXS){
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__logo{
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                max-width: 100%;
                max-height: 100%;
            }

            @media all and (max-width: $mediaSM){
                width: 34px;
                height: 34px;
            }
        }

        &__odds{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;

            @media all and (max-width: $mediaLG){
                position: relative;
                top: 0;
                transform: none;
            }
        }

        &__odd{
            background-color: $mobBg;
            border-radius: 6px;
            padding: 2px 2px 2px 8px;
            font-size: 14px;

            @media all and (max-width: $mediaSM){
                font-size: 11px;
            }

            &__val{
                padding: 2px 6px 3px;
                background-color: $white;
                border-radius: 6px;
                display: inline-block;
                margin-left: 6px;
            }
            &:not(:last-child){
                margin-right: 18px;

                @media all and (max-width: $mediaSM){
                    margin-right: 12px;
                }
            }
        }

        &__title{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 4px;
            text-decoration: none;
            color: $mainTextColor;
            display: inline-block;

            @media all and (max-width: $mediaLG){
                display: block;
                width: 100%;
            }
            @media all and (max-width: $mediaSM){
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        &__info{
            font-size: 12px;

            @media all and (max-width: $mediaLG){
                margin-top: 8px;
                margin-bottom: 8px;
                margin-right: 10px;
            }
        }

        &__date{
            margin-right: 12px;
        }

        &__forecast{
            color: $btnBg2;
            text-decoration: none;

            &__val{
                color: $infoColor;
            }
        }
    }
}

.match{
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-bottom: 24px;

        @media all and (max-width: $mediaXS){
            margin-left: -6px;
            margin-right: -6px;
            flex-direction: column;
        }
    }

    &__item{
        flex: 1 0 25%;
        margin: 0;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.7);
        color: $white;
        margin-bottom: 24px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 38px;
        border-bottom-right-radius: 38px;
        padding: 16px 16px 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        

        @media all and (min-width: $mediaLG){
            &:not(:nth-child(3n)){
                margin-right: 12px;
            }
            &:not(:nth-child(4n+4)){
                margin-left: 12px;
            }
            &:first-child{
                margin-left: 0;
            }
        }


        @media all and (max-width: $mediaLG){
            flex: 1 0 33%;

            &:not(:nth-child(2n)){
                margin-right: 12px;
            }
            &:not(:nth-child(2n+1)){
                margin-left: 12px;
            }
        }

        @media all and (max-width: $mediaSM){
            border-bottom-left-radius: 21px;
            border-bottom-right-radius: 21px;
            margin-bottom: 12px;
            
            &:not(:nth-child(2n)){
                margin-right: 6px;
            }
            &:not(:nth-child(2n+1)){
                margin-left: 6px;
            }
        }
        @media all and (max-width: $mediaXS){
            flex: none;
            margin-bottom: 8px;
            border-radius: 0;
            position: relative;
            padding-bottom: 42px;

            &:not(:nth-child(2n)){
                margin-right: 0;
            }
            &:not(:nth-child(2n+1)){
                margin-left: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }

        &--offer{
            background-color: $subMenuHover;
            padding: 24px 16px;
            text-align: center;
            align-items: center;
            justify-content: center;

            @media all and (max-width: $mediaSM){
                padding: 16px;
            }
        }

        &__top{
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            @media all and (max-width: $mediaSM){
                margin-bottom: 8px;
            }

            &--left{
                color: $white;
                display: inline;
            }
            &--right{
                color: $infoColor;
                display: inline;
            }
        }

        &__title{
            font-size: 18px;
            line-height: 1.2;
            font-weight: bold;
            min-height: 72px;
            margin-bottom: 15px;
            text-decoration: none;
            color: $white;

            @media all and (max-width: $mediaSM){
                font-size: 16px;
                min-height: 38px;
                margin-bottom: 18px;
            }

            &--offer{
                min-height: 1px;
                font-size: 22px;
                font-weight: 800;
                margin-bottom: 8px;
                line-height: 1.3;

                @media all and (max-width: $mediaSM){
                    font-size: 16px;
                    min-height: 1px;

                    br{
                        display: none;
                    }
                }
            }
        }

        &__author{
            margin-bottom: 19px;
            margin-top: auto;
            text-decoration: none;
            color: $white;

            @media all and (max-width: $mediaSM){
                margin-bottom: 10px;
            }

            &__logo{

            }
            &__name{
                font-size: 14px;
                font-weight: bold;

                @media all and (max-width: $mediaSM){
                    font-size: 12px;
                }
            }
        }

        &__bottom{
            margin: 0 -16px;
            background-color: $matchBottomBg;
            border-top-left-radius: 38px;
            border-top-right-radius: 38px;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            height: 76px;


            @media all and (max-width: $mediaSM){
                padding: 6px 6px 6px 16px;
                border-top-left-radius: 21px;
                border-top-right-radius: 21px;
                font-size: 12px;
                height: 42px;
            }
            @media all and (max-width: $mediaXS){
                border-top-left-radius: 0;
                border-top-right-radius: 21px;
                border-bottom-right-radius: 21px;
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 90%;
                margin: 0;
                padding-left: 6px;
            }
        }
        
        &__text{
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            padding-right: 12px;
            line-height: 1.4;
            max-height: 44px;

            .icon{
                display: inline-block;
                vertical-align: middle;
                margin-left: 2px;
            }
        }

        &__factor{
            color: $mainTextColor;
            background-color: $white;
            border-radius: 22px;
            min-width: 68px;
            padding: 11px;
            text-align: center;
            
            @media all and (max-width: $mediaSM){
                border-radius: 21px;
                min-width: 48px;
                font-weight: bold;
                padding: 7px 6px;
            }
        }


        &__textoffer{
            font-size: 18px;
            margin-bottom: 18px;
            line-height: 1.3;

            @media all and (max-width: $mediaSM){
                font-size: 14px;
                margin-bottom: 12px;
            }
        }

    }
}

.btn{
    &__more{
        font-size: 14px;
        color: $white;
        text-decoration: none;
        padding: 9px 20px 12px;
        border: 2px solid $white;
        border-radius: 6px;
        display: inline-block;
        margin: 0 auto;
        
        @media all and (max-width: $mediaSM){
            font-size: 13px;
            padding: 4px 12px 6px;
        }

        &:hover,
        &:active{
            background-color: $white;
            color: $subMenuHover;
        }

        &--blue{
            &:hover,
            &:active{
                background-color: $white;
                color: $newsBg1;
            }
        }
    }
}

.contest{
    &__role{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;
        width: auto;
        padding-bottom: 24px;
        margin-left: -24px;
        margin-right: -24px;

        @media all and (max-width: $mediaSM){
            margin-left: -16px;
            margin-right: -16px;
            padding-bottom: 16px;
        }
        @media all and (max-width: $mediaXS){
            margin-left: -6px;
            margin-right: -6px;
        }

        &__item{
            min-width: 200px;
            width: 200px;
            text-align: center;

            &:not(:last-child){
                margin-right: 16px;
            }
            &:first-child{
                margin-left: 24px;
            }
            &:last-child{
                margin-right: 24px;
            }

            @media all and (max-width: $mediaLG){
                min-width: 160px;
            }

            @media all and (max-width: $mediaSM){
                min-width: 130px;
                
                &:first-child{
                    margin-left: 16px;
                }
                &:last-child{
                    margin-right: 16px;
                }
            }
            @media all and (max-width: $mediaXS){
                &:not(:last-child){
                    margin-right: 12px;
                }
                &:first-child{
                    margin-left: 6px;
                }
                &:last-child{
                    margin-right: 12px;
                }
            }
        }
        &__img{
            width: 118px;
            height: 118px;
            display: inline-block;

            img{
                max-width: 100%;
                max-height: 100%;
            }

            @media all and (max-width: $mediaLG){
                width: 100px;
                height: 100px;
            }
            @media all and (max-width: $mediaSM){
                width: 84px;
                height: 84px;
            }
        }

        &__title{
            font-size: 22px;
            font-weight: 800;
            margin-top: 10px;
            margin-bottom: 8px;
            line-height: 1;

            @media all and (max-width: $mediaLG){
                font-size: 22px;
            }
            @media all and (max-width: $mediaSM){
                font-size: 16px;
                margin-bottom: 4px;
            }
        }
        &__prize{
            font-size: 16px;
            margin-bottom: 4px;

            @media all and (max-width: $mediaSM){
                font-size: 12px;
                margin-bottom: 2px;
            }
        }
        &__period{
            font-size: 12px;
            color: $infoColor;
        }
    }
}

.news{
    &__card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        margin-bottom: 48px;

        @media all and (max-width: $mediaSM){
            margin-bottom: 24px;
        }
        @media all and (max-width: $mediaXS){
            margin-left: -6px;
            margin-right: -6px;
        }

        &__item{
            flex: 1 0 25%;
            background-color: $white;
            border-radius: 6px;
            padding: 0 24px;
            text-decoration: none;
            color: $mainTextColor;
            min-width: 1px;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            @media all and (min-width: $mediaLG){
                &:not(:last-child){
                    margin-right: 24px;
                }
            }

            @media all and (max-width: $mediaLG){
                flex: 1 0 33%;

                &:first-child{
                    margin-right: 24px;
                }
            }

            @media all and (max-width: $mediaSM){
                padding: 0 16px;

                &:first-child{
                    margin-right: 16px;
                }
            }

            @media all and (max-width: $mediaXS){
                flex: none;
                width: 100%;
                margin-bottom: 8px;
                border-radius: 0;
                
                &:first-child{
                    margin-right: 0;
                }
            }

            &__logo{
                margin: 30px 0;
                height: 52px;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    height: 100%;
                    width: auto;
                    max-width: 100%;
                }

                @media all and (max-width: $mediaSM){
                    height: 32px;
                    margin: 24px 0 20px;
                }
            }

            &__rating{
                margin-bottom: 12px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                &__text{
                    font-size: 16px;
                    font-weight: bold;
                    margin-right: 8px;
                    white-space: nowrap;

                    @media all and (max-width: $mediaXL){
                        font-size: 15px;
                    }

                    @media all and (max-width: $mediaSM){
                        font-size: 16px;
                    }
                }
                &__stars{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
                &__star{
                    display: block;
                    width: 16px;
                    height: 16px;
                    background: url(../../assets/img/star.svg) no-repeat center center;
                    background-size: contain;

                    &:not(:last-child){
                        margin-right: 2px;
                    }

                    &--checked{
                        background: url(../../assets/img/star-fill.svg) no-repeat center center;
                        background-size: contain;
                    }

                    @media all and (max-width: $mediaXL){
                        width: 15px;
                        height: 15px;
                    }
                    @media all and (max-width: $mediaSM){
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            &__text{
                font-size: 16px;
                font-style: italic;
                line-height: 1.4;
                margin-bottom: 20px;
                max-height: 110px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;

                @media all and (max-width: $mediaSM){
                    font-size: 14px;
                    -webkit-line-clamp: 4;
                    max-height: 76px;
                    margin-bottom: 18px;
                }
            }

            &__bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: -12px;
                margin-right: -12px;
                padding-bottom: 8px;
                margin-top: auto;

                @media all and (max-width: $mediaSM){
                    margin-left: -10px;
                    margin-right: -10px;
                    padding-bottom: 6px;
                }
            }

            &__author{
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                color: $mainTextColor;
            }

            &__activities{
                
            }
            &__activity{
                color: $infoColor;
                font-size: 12px;
                font-family: $Roboto;
                font-weight: 400;
                display: inline-block;
                text-decoration: none;
                

                &:not(:last-child){
                    margin-right: 2px;
                }

                .icon{
                    vertical-align: bottom;
                    margin-right: 1px;
                    transition: all .3s ease;
                }

                &:hover{
                    .icon{
                        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
                    }
                }

                &--dislikes{
                    &:not(:last-child){
                        margin-right: 12px;
                    }
                }

                &--mes{
                    background-color: $mobBg;
                    padding: 5px 6px 5px 5px;
                    border-radius: 6px;

                    @media all and (max-width: $mediaSM){
                        padding: 4px;
                    }
                }
            }

            &--offer{
                color: $white;
                background-color: $newsBg1;
                padding: 24px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                text-align: center;

                @media all and (max-width: $mediaLG){
                    margin-top: 24px;
                    border-radius: 6px;
                }
                @media all and (max-width: $mediaSM){
                    margin-top: 16px;
                    padding: 16px;
                }
                @media all and (max-width: $mediaXS){
                    margin: 0;
                    border-radius: 0;
                }
            }

            &__title{
                font-size: 22px;
                font-weight: 800;
                margin-bottom: 8px;
                line-height: 1.3;
    
                @media all and (max-width: $mediaSM){
                    font-size: 16px;
                    margin-bottom: 4px;
                }
            }
    
            &__textoffer{
                font-size: 18px;
                margin-bottom: 18px;
                line-height: 1.3;
                text-align: center;

                @media all and (max-width: $mediaSM){
                    font-size: 14px;
                    margin-bottom: 12px;

                    br{
                        display: none;
                    }
                }
            }
        }
    }

    &__wrapper{

    }

    &__inner{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        @media all and (max-width: $mediaLG){
            flex-direction: column;
        }

        &__item{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            &--left{
                flex: 7;
                margin-right: 24px;

                @media all and (max-width: $mediaLG){
                    flex: none;
                    margin-right: 0;
                }
                @media all and (max-width: $mediaXS){
                    margin-right: -6px;
                }
            }

            &--right{
                flex: 3;

                @media all and (max-width: $mediaLG){
                    flex: none;
                }
            }
            
            &__bottom{
                margin-top: auto;
            }
        }
    }

    &__new{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        &__item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid $bodyBg;
            width: 100%;
            
            @media all and (max-width: $mediaSM){
                border-bottom: 1px solid $mobBg;
            }

            &:not(:first-child){
                padding: 20px 0;

                @media all and (max-width: $mediaSM){
                    padding: 12px 0;
                }
            }
            &:first-child{
                padding-bottom: 20px;

                @media all and (max-width: $mediaSM){
                    padding-bottom: 12px;
                }
            }

            &__img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 11px;
                min-width: 52px;
                width: 52px;
                height: 52px;
                border-radius: 6px;
                overflow: hidden;

                @media all and (max-width: $mediaSM){
                    width: 44px;
                    height: 44px;
                    min-width: 44px;
                    margin-right: 8px;
                }

                &--big{
                    min-width: 161px;
                    width: 161px;
                    height: 161px;
                    margin-right: 16px;

                    @media all and (max-width: $mediaSM){
                        min-width: 64px;
                        width: 64px;
                        height: 64px;
                        margin-right: 8px;
                        display: flex !important;
                        position: absolute;
                        top: 50%;
                        margin-top: -32px;
                        left: 0;

                        &.hidden-sm-down{
                            display: none !important;
                        }
                    }
    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &--noimage{
                    background-color: $mobBg;
                    
                    img{
                        width: 30px;
                        height: 24px;
                    }
                }
            }

            &__title{
                font-size: 18px;
                font-weight: bold;
                line-height: 1.2;
                margin-bottom: 6px;
                text-decoration: none;
                color: $mainTextColor;
                display: inline-block;

                @media all and (max-width: $mediaSM){
                    font-size: 16px;
                    margin-bottom: 4px;
                }

                &--big{
                    font-size: 22px;
                    font-weight: 800;
                    line-height: 1.3;
                    margin-bottom: 10px;

                    @media all and (max-width: $mediaSM){
                        font-size: 16px;
                        margin-bottom: 4px;
                    }
                }
            }

            &__date{
                &:not(:last-child){
                    margin-right: 12px;
                }

                &__line{
                    font-size: 12px;
                    color: $infoColor;
                    display: flex;
                    align-items: center;

                    &:not(:last-child){
                        margin-bottom: 4px;
                    }

                    &--big{
                        &:not(:last-child){
                            margin-bottom: 10px;
                        }
                    }

                    &--left{
                        justify-content: flex-start;
                    }
                    &--justify{
                        justify-content: space-between;
                    }
                }
            }

            &__type{

            }

            &__info{
                width: 100%;

                &__wrapper{
                    margin-bottom: 8px;
                    position: relative;

                    @media all and (max-width: $mediaSM){
                        padding: 6px 6px 6px 72px;
                        min-height: 64px;
                    }
                }
            }

            &__text{
                font-size: 14px;
                line-height: 1.3;
                text-decoration: none;
                color: $mainTextColor;
                opacity: .9;
                
                &:not(:last-child){
                    margin-bottom: 4px;
                }

                &--big{
                    font-size: 16px;

                    @media all and (max-width: $mediaSM){
                        font-size: 14px;
                    }
                }

                &--cut{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    max-height: 36px;
                }
            }
        }

    }
}

