@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-Bold.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-Italic.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-BoldItalic.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-MediumItalic.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-LightItalic.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-Medium.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-SemiBoldItalic.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-Regular.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-Light.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('@/static/fonts/EuclidSquare/EuclidSquare-SemiBold.woff2') format('woff2'),
        url('@/static/fonts/EuclidSquare/EuclidSquare-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

