@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin  dotted-list {
    li{
        position: relative;
        padding-left: 26px;

        &:before{
            content: '';
            display: block;
            position: absolute;
            width: 2px;
            height: 2px;
            border-radius: 2px;
            border: solid 1px $infoColor;
            left: 13px;
            top: 50%;
            margin-top: -3px;
        }
    }
}

@mixin reset-btn {
    padding: 0;
    margin: 0;
    outline: none;

    border: 1px solid $btnBorderColor;
    border-color: $btnBorderColor;
    background-color: $btnBg;
    border-radius: 6px;
    box-shadow: inset 0 -2px 0 0 $btnBorderColor;
    color: $footerTextColor;
    cursor: pointer;
    text-decoration: none;
    font-family: $OpenSans;
    font-weight: bold;

    &:hover{
        border: solid 1px $btnBorderColorHover;
        background-color: $btnBgHover;
    }
    &:active{
        border: solid 1px $btnBorderColorActive;
        background-color: $btnBgActive;
    }
}