$body-color: #fff;
$main-color: #CC2222;

$hover-color: #B41313;
$error-color: $main-color;
$success-color: #00B707;
$disable-color: #BDBDBD;

$text-color: #252525;
$player-color: #075050;

$row-border-color: #E0E0E0;