.h2{
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    white-space: nowrap;
}

.about{
    padding: 70px 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__col{
        &:first-child{
            padding-right: 153px;
        }
    }

    &__text{
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 50px;
    }
}
.link{
    font-weight: 600;
    text-transform: uppercase;
}