.v-student {
  $p: &;

  &.focused {
    #{$p}__image-wrapper {
      &::before {
        content: '';
        display: block;
        position: absolute;
        inset: -0.25rem;
        border: 1px solid var(--color-primary);
        border-radius: 50%;
      }
    }
  }

  &__input {
    @media all and (max-width: 767px) {
      max-width: 160px;
    }
  }
}
