$color-light: #fff;

$color-dark: #030229;
$color-dark-70: #4F4E6A;
$color-dark-40: #9A9AA9;
$color-dark-20: #CDCCD4;
$color-dark-15: #D9D9DF;
$color-dark-10: #E6E6EA;

$color-error: #F65160;

$color-primary: #605BFF;
$color-primary-70: #908DFF;
$color-primary-50: #AFACFF;
$color-primary-30: #D0CEFF;
$color-primary-10: #EFEFFF;
$color-primary-5: #F7F7FF;

$color-success: #19C09A;