@import 'colors';

:export {
  colorLight: $color-light;
  colorDark: $color-dark;
  colorDark70: $color-dark-70;
  colorDark40: $color-dark-40;
  colorDark20: $color-dark-20;
  colorDark15: $color-dark-15;
  colorDark10: $color-dark-10;
  colorError: $color-error;
  colorPrimary: $color-primary;
  colorPrimary70: $color-primary-70;
  colorPrimary50: $color-primary-50;
  colorPrimary30: $color-primary-30;
  colorPrimary10: $color-primary-10;
  colorPrimary5: $color-primary-5;
  colorSucces: $color-success;
}
