@font-face {
    font-family: 'Tahoma';
    src: url('fonts/Tahoma-Bold.woff2') format('woff2'),
        url('fonts/Tahoma-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('fonts/Tahoma.woff2') format('woff2'),
        url('fonts/Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArialMT';
    src: url('fonts/ArialMT.woff2') format('woff2'),
        url('fonts/rialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'MagistralC';
    src: url('fonts/MagistralC-Bold.woff2') format('woff2'),
        url('fonts/MagistralC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

