@import '_reset';
@import '_fonts';

$color1: #00aae8;
$color2: #30e03e;
$color3: #bdbdbd;
$mainBg1: #fff;
$mainBg2: #dedede;
$textColor: #525252;
$textColor2: #000;
$linkHover: #b0e4f2;
$logosub: #030303;
$menuLinkColor: #4f4f4f;
$menuBorderColor: #cdcdcd;
$footerBg: #ddd;
$footerBg2: #888;

@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body{
    color: $textColor;
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Tahoma', Arial;
    font-weight: 400;
    background-color: $mainBg1;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
    @media all and (max-width: 1200px){
        width: 100%;
    }
}
.block{
    width: 100%;
}
.page{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.d-flex{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;


            @media all and (max-width: 760px){
                display: block !important;
            }
}
.ml-auto{
    margin-left: auto;
}
.clearfix{
    @include clearfix;
}
@media all and (max-width: 760px){
    .sm-hidden{
        display: none !important;
    }
}
.header{
    border-top: 5px solid $color1;
    padding-top: 12px;
    padding-bottom: 10px;
    background: -o-linear-gradient(top, $mainBg1, $mainBg2);
    background: -webkit-gradient(linear, left top, left bottom, from($mainBg1), to($mainBg2));
    background: linear-gradient(to bottom, $mainBg1, $mainBg2);

    @media all and (max-width: 760px){
        background: none;
    }

    &-row{
        display: block;
        text-align: center;
        margin-bottom: 30px;

        @media all and (max-width: 760px){
            margin-bottom: 0;
        }
    }

    &-contacts{
        font-size: 14px;
    }

    &-link{
        text-decoration: none;
        color: inherit;

        &:hover{
            color: $color1;
        }
    }

    &-tel{
        color: $textColor2;
        font-size: 16px;
    }

    &-item{
        display: inline-block;
        vertical-align: middle;

        &--user{
            float: right;
        }

        &--search{
            @media all and (max-width: 940px){
                width: 100%;
                margin-right: 30px;
            }

            @media all and (max-width: 760px){
                max-width: 360px;
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &-user{
        .icon{
            margin-right: 8px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &-logo{
        font-family: 'MagistralC';
        font-size: 48px;
        font-weight: bold;
        line-height: 1;

        &-left{
            color: $color1;
        }
        &-right{
            color: $color2;
        }
        &-wrapper{
            text-align: left;
            margin-right: 60px;

            @media all and (max-width: 940px){
                margin-right: 30px;
            }
            @media all and (max-width: 760px){
                margin-right: 0;
                position: absolute;
                top: 10px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
            }
        }

        &-sub{
            font-family: 'ArialMT';
            font-size: 12px;
            color: $logosub;
            margin-top: -3px;
            display: block;

            @media all and (max-width: 760px){
                display: none;
            }
        }
    }

    &-search{
        width: 440px;
        height: 40px;
        background-color: $mainBg1;
        border-radius: 5px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.05);
                box-shadow: 0 0 10px rgba(0,0,0,.05);

        
        @media all and (max-width: 940px){
            width: 100%; 
        }

        &-input{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            position: relative;

            input{
                width: 100%;
                height: 100%;
                padding: 10px;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 16px;
                font-family: 'ArialMT';

                &::-webkit-input-placeholder{
                    color: $color3;
                }

                &::-moz-placeholder{
                    color: $color3;
                }

                &:-ms-input-placeholder{
                    color: $color3;
                }

                &::-ms-input-placeholder{
                    color: $color3;
                }

                &::placeholder{
                    color: $color3;
                }
            }
        }

        &-submit{
            border: none;
            background-color: transparent;
            outline: none;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 50px;
            height: 40px;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    }

    &-cart{
        display: block;
        padding-right: 60px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: url('assets/basket.png') no-repeat right center;
        background-size: contain;

        @media all and (max-width: 760px){
            width: 30px;
            height: 30px;
            padding: 0;
            position: absolute;
            left: 10px;
            top: 16px;
        }

        &-title{
            font-size: 18px;
            margin-bottom: 12px;

            @media all and (max-width: 760px){
                display: none;
            }
        }
        &-count{
            font-size: 12px;

            @media all and (max-width: 760px){
                display: none;
            }
        }
    }
}

.menu{
    border-top: 1px solid $menuBorderColor;
    border-bottom: 1px solid $menuBorderColor;

    @media all and (max-width: 760px){
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background: #fff;
        border: none;
        display: none;
        -webkit-box-shadow: 0 10px 5px rgba(0,0,0,.05);
                box-shadow: 0 10px 5px rgba(0,0,0,.05);
        -webkit-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;

        &.opened{
            display: block;
        }

        &.subopened{
            -webkit-transform: translate(-100%);
                -ms-transform: translate(-100%);
                    transform: translate(-100%);
        }
    }

    &-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        @media all and (max-width: 760px){
            display: block;
        }

        &-link{
            color: $menuLinkColor;
            text-decoration: none;
            font-size: 16px;
            text-transform: uppercase;
            display: block;
            width: 100%;
            text-align: center;
            padding: 10px 20px;
            white-space: nowrap;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;


            @media all and (max-width: 1200px){
                font-size: 14px;
                padding: 10px;
                white-space: unset;
            }
            @media all and (max-width: 940px){
                font-size: 12px;
            }
            @media all and (max-width: 760px){
                display: block;
                text-align: left;
                white-space: nowrap;
                font-size: 14px;
                padding: 13px;

                &--back{
                    background-color: $mainBg2 !important;
                }
            }

            &:hover{
                color: $mainBg1;
                background-color: $linkHover;
            }
        }
        
        $list: &;

        &-item{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                    align-items: stretch;
            height: 36px;
            
            &--has-sub-mob{
                @media all and (max-width: 760px){
                    position: relative;
                    
                    &:before{
                        content: '\203A';
                        display: block;
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        font-size: 30px;
                        height: 10px;
                        line-height: 10px;
                        margin-top: -7px;
                        color: $menuBorderColor;
                    }
                }
            }
            @media all and (max-width: 760px){
                height: auto;
                margin: 0 -15px;
                width: auto !important;
                display: block;
            }



            &:not(:first-child){
                border-right: 1px solid $menuBorderColor;
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;

                @media all and (max-width: 760px){
                    border-right: none;
                }
            }
            
            &--catalog{
                width: 230px;

                @media all and (max-width: 760px){
                    width: 100%;
                }

                .menu-list-link{
                    background-color: $color1;
                    color: $mainBg1;
                    font-weight: bold;

                    @media all and (max-width: 760px){
                        background-color: $mainBg1;
                        color: $textColor;
                        font-weight: 400;

                        &:hover{
                            background-color: $linkHover;
                            color: $mainBg1;
                        }
                    }
                }
            }
        }
    }

    &-sub-list{
        display: none;

        @media all and (max-width: 760px){
            display: block;
            position: absolute;
            left: 100%;
            top: 0;
            width: 100%;
            -webkit-box-shadow: 0 10px 5px rgba(0,0,0,.05);
                    box-shadow: 0 10px 5px rgba(0,0,0,.05);
        }
    }
}
.content{
    padding: 20px;
    width: 100%;

    @media all and (max-width: 760px){
        padding: 0;
    }

    &-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
}
.sidebar{
    width: 230px;
    min-width: 230px;
    border-left: 1px solid $menuBorderColor;
    border-right: 1px solid $menuBorderColor;


    @media all and (max-width: 760px){
        display: none;
    }

    &-list{
        &-item{
            &--sub{
                position: relative;

                & > .sidebar-list-link{
                    &:before{
                        content: '\203A';
                        display: block;
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        font-size: 20px;
                        height: 10px;
                        line-height: 10px;
                        margin-top: -7px;
                        color: $menuBorderColor;
                    }
                 }

                &:hover{
                    .sidebar-sub-list{
                        display: block;
                    }
                }
            }
        }
        &-link{
            text-decoration: none;
            font-size: 14px;
            color: $textColor;
            padding: 8px 10px;
            display: block;
            border-bottom: 1px solid $menuBorderColor;
            background-color: $mainBg1;

            &:hover{
                color: $mainBg1;
                background-color: $linkHover;
            }
        }
    }

    &-sub-list{
        position: absolute;
        left: 100%;
        top: -1px;
        border-top: 1px solid $menuBorderColor;
        border-right: 1px solid $menuBorderColor;
        display: none;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
                box-shadow: 0 0 15px rgba(0,0,0,.1);
        z-index: 1;

        &-link{
            white-space: nowrap;
        }
    }
}
.footer{
    border-top: 5px solid $color1;
    font-size: 14px;
    color: $textColor;
    background-color: $footerBg;

    &-row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px 0;
    }

    &-item{

    }
    &-link{
        text-decoration: none;
    }

    &-copyrights{
        background-color: $footerBg2;
        text-align: center;
        font-size: 10px;
        color: $mainBg1;
        padding: 5px 0;
    }
}

.burger{
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;

    @media all and (max-width: 760px){
        display: block;

        span{
            width: 100%;
            height: 5px;
            background-color: $textColor;
            border-radius: 5px;
            position: absolute;
            left: 0;

            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 8px;
            }
            &:nth-child(3){
                top: 16px;
            }
        }

        &.opened{
            @media all and (max-width: 760px){
                span{
                    -webkit-transform-origin: 50% 50%;
                        -ms-transform-origin: 50% 50%;
                            transform-origin: 50% 50%;

                    &:nth-child(1){
                        top: 50%;
                        margin-top: -3px;
                        -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        top: 50%;
                        margin-top: -3px;
                        -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                    }
                }
            }

        }
    }
}