.sidebar{
    min-width: 318px;
    width: 318px;
    // position: sticky;
    // top: 24px;
    margin-right: 24px;


    @media all and (max-width: $mediaXL){
        width: 280px;
        min-width: 280px;
    }


    @media all and (max-width: $mediaMD){
        display: none;
    }

    &-list{
        @include reset-list;

        &-link{
            font-family: $OpenSans;
            font-size: 18px;
            line-height: 1.2;
            text-decoration: none;
            color: $mainTextColor;
            display: inline-block;

            &.current{
                font-weight: bold;

                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: -24px;
                    top: 4px;
                    bottom: 4px;
                    width: 3px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    height: auto;
                    background: linear-gradient(to bottom, $gradientColor1, $gradientColor2);
                }
            }

            .icon{
                margin-right: 7px;
                position: absolute;
                left: 0;
            }
        }

        &-item{
            line-height: 1.2;
            position: relative;
            padding-top: 6px;
            padding-bottom: 6px;

            &.icon{
                padding-left: 26px;
            }
        }

        $p: &;

        &--small{
            & .sidebar-list-link{
                font-size: 18px;
            }
        }

        &--sub{
            padding-top: 4px;
            
            #{$p}-link{
            }
            #{$p}-item{
                padding-top: 6px;

                &:not(:last-child){
                    padding-bottom: 6px;
                }
            }
        }

        &--dotted{
            @include dotted-list;
        }

        &-row{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-item{
                &:nth-child(1){
                    width: 100%;
                }
                &:nth-child(2){
                    min-width: 50px;
                }
            }
        }

        &-value{
            color: $infoColor;
            font-size: 14px;
            font-weight: 300;

            .icon{
                margin-right: 4px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    &-item{
        background-color: $white;
        padding: 10px 16px 10px 24px;
        border-radius: 4px;
        overflow: hidden;

        &:not(:last-child){
            margin-bottom: 4px;
        }
    }

    &-title{
        font-size: 20px;
        font-family: $FedraSansPro;
        font-weight: 400;
        margin: 0;
    }
    &-item{
        &-head{
            background-color: $sidebarHeadBg;
            padding: 14px 24px;
            margin: 0 -16px 0 -24px;
        }
        &-sub-head{
            padding: 14px 24px;
            margin: 0 -16px 0 -24px;
            border-bottom: 4px solid $bodyBg;
        }
    }
}
.tr{
    text-align: right;
}
.feed-count{
    display: inline-block;
    padding: 2px;
    background: linear-gradient(99deg, $gradientColor1, $gradientColor2);
    border-radius: 100%;
    font-size: 14px;
    font-family: $FedraSansPro;
    font-weight: 600;
    color: $white;
    text-align: center;
    height: 18px;
    min-width: 18px;
    line-height: 12px;
    vertical-align: middle;
}
.coupon{
    position: relative;
    font-size: 24px;
    color: $white;
    background: linear-gradient(99deg, $gradientColor1, $gradientColor2);
    padding: 14px 37px 14px 24px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &-text{
        font-family: $FedraSansPro;
        font-weight: 400;
    }

    &-value{
        font-family: $Roboto;
        font-weight: 500;
        position: relative;

        &:before{
            content: '.....';
            display: block;
            height: 3px;
            width: auto;
            position: absolute;
            top: 50%;
            left: -40px;
            transform-origin: 50% 50%;
            transform: translateY(-50%) rotate(90deg);
            line-height: 3px;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }

    &:before,
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
    &:before{
        border-left: 6px solid $bodyBg;
        left: 0;
    }
    &:after{
        border-right: 6px solid $bodyBg;
        right: 0;
    }
}