@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Tahoma";
  src: url("fonts/Tahoma-Bold.woff2") format("woff2"), url("fonts/Tahoma-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tahoma";
  src: url("fonts/Tahoma.woff2") format("woff2"), url("fonts/Tahoma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ArialMT";
  src: url("fonts/ArialMT.woff2") format("woff2"), url("fonts/rialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MagistralC";
  src: url("fonts/MagistralC-Bold.woff2") format("woff2"), url("fonts/MagistralC-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  color: #525252;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Tahoma", Arial;
  font-weight: 400;
  background-color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media all and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.block {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media all and (max-width: 760px) {
  .d-flex {
    display: block !important;
  }
}

.ml-auto {
  margin-left: auto;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

@media all and (max-width: 760px) {
  .sm-hidden {
    display: none !important;
  }
}
.header {
  border-top: 5px solid #00aae8;
  padding-top: 12px;
  padding-bottom: 10px;
  background: -o-linear-gradient(top, #fff, #dedede);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dedede));
  background: linear-gradient(to bottom, #fff, #dedede);
}
@media all and (max-width: 760px) {
  .header {
    background: none;
  }
}
.header-row {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
@media all and (max-width: 760px) {
  .header-row {
    margin-bottom: 0;
  }
}
.header-contacts {
  font-size: 14px;
}
.header-link {
  text-decoration: none;
  color: inherit;
}
.header-link:hover {
  color: #00aae8;
}
.header-tel {
  color: #000;
  font-size: 16px;
}
.header-item {
  display: inline-block;
  vertical-align: middle;
}
.header-item--user {
  float: right;
}
@media all and (max-width: 940px) {
  .header-item--search {
    width: 100%;
    margin-right: 30px;
  }
}
@media all and (max-width: 760px) {
  .header-item--search {
    max-width: 360px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header-user .icon {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
.header-logo {
  font-family: "MagistralC";
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
}
.header-logo-left {
  color: #00aae8;
}
.header-logo-right {
  color: #30e03e;
}
.header-logo-wrapper {
  text-align: left;
  margin-right: 60px;
}
@media all and (max-width: 940px) {
  .header-logo-wrapper {
    margin-right: 30px;
  }
}
@media all and (max-width: 760px) {
  .header-logo-wrapper {
    margin-right: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.header-logo-sub {
  font-family: "ArialMT";
  font-size: 12px;
  color: #030303;
  margin-top: -3px;
  display: block;
}
@media all and (max-width: 760px) {
  .header-logo-sub {
    display: none;
  }
}
.header-search {
  width: 440px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
@media all and (max-width: 940px) {
  .header-search {
    width: 100%;
  }
}
.header-search-input {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  position: relative;
}
.header-search-input input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-family: "ArialMT";
}
.header-search-input input::-webkit-input-placeholder {
  color: #bdbdbd;
}
.header-search-input input::-moz-placeholder {
  color: #bdbdbd;
}
.header-search-input input:-ms-input-placeholder {
  color: #bdbdbd;
}
.header-search-input input::-ms-input-placeholder {
  color: #bdbdbd;
}
.header-search-input input::placeholder {
  color: #bdbdbd;
}
.header-search-submit {
  border: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-cart {
  display: block;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url("assets/basket.png") no-repeat right center;
  background-size: contain;
}
@media all and (max-width: 760px) {
  .header-cart {
    width: 30px;
    height: 30px;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 16px;
  }
}
.header-cart-title {
  font-size: 18px;
  margin-bottom: 12px;
}
@media all and (max-width: 760px) {
  .header-cart-title {
    display: none;
  }
}
.header-cart-count {
  font-size: 12px;
}
@media all and (max-width: 760px) {
  .header-cart-count {
    display: none;
  }
}

.menu {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
@media all and (max-width: 760px) {
  .menu {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: #fff;
    border: none;
    display: none;
    -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  .menu.opened {
    display: block;
  }
  .menu.subopened {
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    transform: translate(-100%);
  }
}
.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media all and (max-width: 760px) {
  .menu-list {
    display: block;
  }
}
.menu-list-link {
  color: #4f4f4f;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media all and (max-width: 1200px) {
  .menu-list-link {
    font-size: 14px;
    padding: 10px;
    white-space: unset;
  }
}
@media all and (max-width: 940px) {
  .menu-list-link {
    font-size: 12px;
  }
}
@media all and (max-width: 760px) {
  .menu-list-link {
    display: block;
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
    padding: 13px;
  }
  .menu-list-link--back {
    background-color: #dedede !important;
  }
}
.menu-list-link:hover {
  color: #fff;
  background-color: #b0e4f2;
}
.menu-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 36px;
}
@media all and (max-width: 760px) {
  .menu-list-item--has-sub-mob {
    position: relative;
  }
  .menu-list-item--has-sub-mob:before {
    content: "›";
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 30px;
    height: 10px;
    line-height: 10px;
    margin-top: -7px;
    color: #cdcdcd;
  }
}
@media all and (max-width: 760px) {
  .menu-list-item {
    height: auto;
    margin: 0 -15px;
    width: auto !important;
    display: block;
  }
}
.menu-list-item:not(:first-child) {
  border-right: 1px solid #cdcdcd;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media all and (max-width: 760px) {
  .menu-list-item:not(:first-child) {
    border-right: none;
  }
}
.menu-list-item--catalog {
  width: 230px;
}
@media all and (max-width: 760px) {
  .menu-list-item--catalog {
    width: 100%;
  }
}
.menu-list-item--catalog .menu-list-link {
  background-color: #00aae8;
  color: #fff;
  font-weight: bold;
}
@media all and (max-width: 760px) {
  .menu-list-item--catalog .menu-list-link {
    background-color: #fff;
    color: #525252;
    font-weight: 400;
  }
  .menu-list-item--catalog .menu-list-link:hover {
    background-color: #b0e4f2;
    color: #fff;
  }
}
.menu-sub-list {
  display: none;
}
@media all and (max-width: 760px) {
  .menu-sub-list {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05);
  }
}

.content {
  padding: 20px;
  width: 100%;
}
@media all and (max-width: 760px) {
  .content {
    padding: 0;
  }
}
.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sidebar {
  width: 230px;
  min-width: 230px;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}
@media all and (max-width: 760px) {
  .sidebar {
    display: none;
  }
}
.sidebar-list-item--sub {
  position: relative;
}
.sidebar-list-item--sub > .sidebar-list-link:before {
  content: "›";
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  font-size: 20px;
  height: 10px;
  line-height: 10px;
  margin-top: -7px;
  color: #cdcdcd;
}
.sidebar-list-item--sub:hover .sidebar-sub-list {
  display: block;
}
.sidebar-list-link {
  text-decoration: none;
  font-size: 14px;
  color: #525252;
  padding: 8px 10px;
  display: block;
  border-bottom: 1px solid #cdcdcd;
  background-color: #fff;
}
.sidebar-list-link:hover {
  color: #fff;
  background-color: #b0e4f2;
}
.sidebar-sub-list {
  position: absolute;
  left: 100%;
  top: -1px;
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  display: none;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.sidebar-sub-list-link {
  white-space: nowrap;
}

.footer {
  border-top: 5px solid #00aae8;
  font-size: 14px;
  color: #525252;
  background-color: #ddd;
}
.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
}
.footer-link {
  text-decoration: none;
}
.footer-copyrights {
  background-color: #888;
  text-align: center;
  font-size: 10px;
  color: #fff;
  padding: 5px 0;
}

.burger {
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
@media all and (max-width: 760px) {
  .burger {
    display: block;
  }
  .burger span {
    width: 100%;
    height: 5px;
    background-color: #525252;
    border-radius: 5px;
    position: absolute;
    left: 0;
  }
  .burger span:nth-child(1) {
    top: 0;
  }
  .burger span:nth-child(2) {
    top: 8px;
  }
  .burger span:nth-child(3) {
    top: 16px;
  }
}
@media all and (max-width: 760px) and (max-width: 760px) {
  .burger.opened span {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .burger.opened span:nth-child(1) {
    top: 50%;
    margin-top: -3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .burger.opened span:nth-child(2) {
    display: none;
  }
  .burger.opened span:nth-child(3) {
    top: 50%;
    margin-top: -3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=style.css.map */
