@tailwind base;
@tailwind components;
@tailwind utilities;

$font-family-koulen: 'Koulen', Arial, sans-serif;
$font-family-inter: 'Inter', Arial, sans-serif;

@layer base {
  :root {
    --color-primary: #3d06d7;
    --color-primary-light: #906fee;
    --color-dark: #1e0e4c;
    --color-light-grey: #cfcadf;
  }

  html,
  body {
    font-family: $font-family-inter;
  }

  @font-face {
    font-family: 'Koulen';
    src:
      url('@/assets/fonts/Koulen-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Koulen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src:
      url('@/assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src:
      url('@/assets/fonts/Inter-Medium.woff2') format('woff2'),
      url('@/assets/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
}
