@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Playfair+Display:wght@700&family=Roboto:wght@400;500;700&display=swap&family=DM+Serif+Display&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  font-size: 14px;
  line-height: 1.2;
  color: #333;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.container__abs {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header--section {
  min-height: 680px;
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 123px;
}
.header--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 24px;
  left: 83px;
  right: 157px;
}
.header--menu--burger {
  width: 49px;
  height: 49px;
  background-color: #D2E1EF;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.header--logo {
  font-size: 24px;
  margin-left: 37px;
  color: #fff;
}
.header--tel {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  margin-left: auto;
  margin-right: 48px;
}
.header--img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -o-linear-gradient(237.41deg, rgba(14, 14, 14, 0), rgba(0, 0, 0, 0.53) 7.71%, rgba(15, 15, 15, 0.9) 60%), url("img/header-bg.jpg");
  background-image: linear-gradient(212.59deg, rgba(14, 14, 14, 0), rgba(0, 0, 0, 0.53) 7.71%, rgba(15, 15, 15, 0.9) 60%), url("img/header-bg.jpg");
  background-size: cover;
}
.header--img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header--h1 {
  font-size: 82px;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 109px;
  margin-bottom: 24px;
}
.header--text {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 24px;
}
.header--scroll {
  cursor: pointer;
  padding-left: 15px;
}
.header--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.header--info--row:not(:last-child) {
  margin-bottom: 8px;
}
.header--info--item {
  color: #fff;
  line-height: 16px;
}
.header--info--item:not(:last-child) {
  margin-right: 54px;
}
.header--info--big {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
}

.btn {
  display: inline-block;
  text-align: center;
  background-color: #34A8E9;
  position: relative;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  border-radius: 8px;
  overflow: hidden;
  border: none;
}
.btn span {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn .main--cont {
  position: relative;
  padding: 6px 16px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.btn .helper--cont {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.btn .btn--shim {
  background: #1a88c5;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.btn:hover {
  color: #fff;
}
.btn:hover .main--cont {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.btn:hover .btn--shim {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.btn:hover .helper--cont {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.btn--header__content {
  font-size: 16px;
}
.btn--header__content .main--cont {
  padding: 16px 20px;
}

.h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 30px;
}

.section--title {
  font-size: 16px;
  color: #34A8E9;
  margin-bottom: 30px;
}
.section--p {
  font-size: 16px;
  margin-bottom: 30px;
}
.section--1 {
  padding-top: 124px;
  padding-bottom: 124px;
}
.section--1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.section--1 .container .right {
  width: 630px;
  margin-left: 80px;
}
.section--3 {
  padding-bottom: 120px;
}
.section--3 .number {
  height: 250px;
}
.section--4 {
  padding-bottom: 126px;
}
.section--5 {
  padding-bottom: 42px;
}
.section--5 .number {
  height: 320px;
}
.section--6 {
  padding-bottom: 140px;
}
.section--6 .quotes-block {
  padding-top: 80px;
}
.section--7 {
  padding-bottom: 57px;
}
.section--8 {
  position: relative;
  margin-bottom: 124px;
}
.section--8--bg img {
  width: 100%;
}
.section--8--pa {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section--9 {
  padding-bottom: 120px;
}
.section--9 .number {
  height: 300px;
}

.number {
  width: 146px;
  height: 350px;
  overflow: hidden;
  position: relative;
  background: #F2F2F2;
}
.number--bg {
  background: #34A8E9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.number img {
  position: absolute;
  top: 20px;
  left: 0;
}

.carousel-pagination {
  position: absolute;
  bottom: 0;
  left: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.carousel-pagination-num {
  margin: 0 27px;
  font-size: 12px;
}
.carousel-pagination-num-cur {
  font-size: 14px;
  opacity: 0.5;
}
.carousel-left {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.carousel-arrow {
  cursor: pointer;
}

.fs-24 {
  font-size: 24px;
}

.mc-3 {
  color: #002033;
}

.quotes {
  font-family: "DM Serif Display", serif;
  font-size: 100px;
  line-height: 60px;
  font-weight: 500;
}

.face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.face-item {
  margin: 0 21px;
}
.face-img {
  margin-bottom: 33px;
}
.face-name {
  font-size: 18px;
  font-weight: 500;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.project-item {
  width: 169px;
  height: 169px;
  position: relative;
  margin: 0 9px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.project-item:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.project-item > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.project-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#inverted-contain {
  height: 672px;
}
#inverted-contain .panzoom {
  width: 1216px;
  height: 100%;
}

div.buttons {
  position: absolute;
  z-index: 1000;
  margin: 30px;
}

.full_wraap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fon {
  width: 100%;
  height: 100%;
  background-size: auto 100%;
}

.plancontent__svg {
  position: fixed;
  height: 100%;
}

/*SVG*/
.full_wraap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.zoom {
  background-color: #fff;
  text-align: center;
  width: 43px;
  position: absolute;
  top: 170px;
  left: 50px;
  border-radius: 5px;
  z-index: 4;
}

.zoom .zitem {
  font-size: 24px;
  color: #000;
  padding: 5px 0;
  cursor: pointer;
}

.zoom .zitem:nth-child(1) {
  border-bottom: 1px #D9D9D9 solid;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9 !important;
}

.plancontent__svg {
  position: absolute;
  top: -3% !important;
  height: 126% !important;
  zoom: 2;
}

.part__svg__zone {
  fill: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  stroke: transparent;
}

.part__svg:hover .part__svg__zone {
  fill: rgba(30, 255, 44, 0.4);
  stroke: #00FF15;
}

.part__svg.sall:hover .part__svg__zone {
  fill: rgba(255, 12, 28, 0.4);
  stroke: #ff3a3d;
}

.part__svg.resrv:hover .part__svg__zone {
  fill: rgba(241, 193, 0, 0.4);
  stroke: #f19f00;
}

.part__svg:hover .part__svg__number {
  fill: #2099fa;
}

.plancontent__tooltips {
  top: 0;
  left: 0;
  width: 100%;
}

.plancontent__tooltip {
  padding: 12px 15px 9px;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: white;
  display: none;
  z-index: 10001;
}

.plancontent__tooltip.active {
  display: block;
}

.plancontent__tooltip__body {
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

.plancontent__tooltip__bot {
  font-size: 22px;
  line-height: 34px;
  font-weight: bold;
  color: #2099FA;
  margin-top: 1px;
}

.plancontent__tooltip__top {
  margin-bottom: 5px;
  margin-top: 10px;
}

.plancontent__tooltip__number {
  font-size: 22px;
  line-height: 20px;
  font-weight: bold;
  color: #2099FA;
  cursor: default;
}

.plancontent__tooltip__status {
  font-size: 14px;
  line-height: 34px;
  color: #18D305;
}

.plancontent__tooltip__status.red {
  color: red;
}

.plancontent__tooltip__status.yellow {
  color: #f19f00;
}

.part__svg__text {
  text-align: center;
  font-size: 7px;
  text-anchor: unset;
}

.part__svg__number.empty {
  fill: white !important;
  stroke: #2099FA !important;
}

.page p {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}

#panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ymaps-layers-pane {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

body .otp-item-view-title {
  margin-bottom: 0;
}

body .otp-item-view-pagetitle {
  min-height: 0;
  padding: 0;
}

body .otp-item-view-question table td.question-number {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
